
.enterotp{
    position: absolute;
    width: 381px;
    height: 348px;
    left: 470px;
    top: 100px;
    
    background: #FFFFFF;
    border-radius: 33px;
  }
  
.enterotp p {
    font-size: 14px;
        color: #B22D31;
        margin-top: 10px;
  }
  
.enterotp h2 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins';
    padding: 0% 0% 0% 4%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 30px;
  }
  
.enterotp input {
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
    border-radius: 38px;
    color: #191919;
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 3% 10%;
  }
  
.enterotp p {
    font-size: 14px;
        color: #B22D31;
        margin-left: 40%;
  }
  
.enterotp button {
  margin-left: 5%;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  height: 30px;
  width: 300px;
  border: #B22D31;
  background: #B22D31;
  border-radius: 39px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  }
  
.enterotp button:disabled {
    cursor: not-allowed;
  }
.enterotp h3{
    margin-left: 20%;
  margin-bottom: 20px;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #191919;
  margin-bottom: 20px;
  }
 .enterotp h3 .link {
    color: #B22D31;
  }
  
 .enterotp h3 .link a{
    font-weight: bold;
  }
  
  
  @media (max-width : 768px) {
    .enterotp{
        left: 5px;
    }
    .enterotp.h2{
      margin-left: 10px;
    }
  
    .enterotpinput {
        margin-left: 2%;
    }
  
    .enterotpbutton {
        margin-left: 2px;
    }
  
    .enterotph3 {
        margin-left: 20px;
    }
  }
  