 figure {
    background: #FFFFFF;
    box-shadow: 0px 4px 19px rgb(0 0 0 / 7%);
    border-radius: 24px;
    height: 210px;
    padding: 30px 10px 30px 10px;
    width: 100%;
    margin : 5px;
    text-align: center;
}
figure:hover{
    box-shadow: 0px 5px 22px rgb(17 17 18 / 7%);
    border-radius: 24px;
    background: #f5d6d9cc;
}
figure img {
    vertical-align: middle;
    border-style: none;
    padding: 11px 0px;
    width: 100%;
    object-fit: contain;
}

figure h5 {
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    color: #191919;
    text-align: center;
}

figure p {
    background: #f5d6d9cc;
    border: 1px solid #f5d6d9cc;
    border-radius: 50%;
    margin: 0px 20px;
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 34px;
}

.gold figure p {
    background-color: #f3d9221a !important;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 34px;
}

.category_section figure {
    background: #FFFFFF;
    box-shadow: 0px 4px 19px rgb(0 0 0 / 7%);
    border-radius: 24px;
    height: 210px;
    padding: 30px 0px 0px 0px;
    width: 100%;
    text-align: center;
}
.circle{
    display: block;
}
.category_section figure:hover{
    box-shadow: 0px 5px 22px rgb(17 17 18 / 7%);
    border-radius: 24px;
    background: #f5d6d9cc;
}

.category_section figure img {
    vertical-align: middle;
    border-style: none;
    padding: 11px 0px;
    width: 70%;
    object-fit: contain;
}

.category_section h5 {
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    color: #191919;
    text-align: center;
}

.category_section figure p {
    background: #f5d6d9cc;
    border: 1px solid #f5d6d9cc;
    border-radius: 50%;
    margin: 0px 20px;
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 34px;
}

.gold figure p {
    background-color: #f3d9221a !important;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 34px;
}

.gold .col-md-4 {
    margin-top: 25px;
}

a {
    color: #191919 !important;
}

a:hover {
    color: #b22d31 !important;
    text-decoration: none;
}

.category_section figure img {
    height: 155px;
    z-index: 9;
    position: relative;
    width: 100%;
}
