.app h3 {
    color: brown;
    margin-left: 50px;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
}

.app{
    height: 30px;
    width: 100% !important;
    padding: 5px;

}

.app table {
    width: 100% !important;
    padding: 0;
    margin: 0;
}